* {
  scroll-behavior: smooth;
}

/* .app {
  min-height: 100vh;
  background-color: white;
  color: black;
  padding-top: 80px;
  padding-bottom: 70px;
}

@media (max-width: 1200px) {
  .app {
    padding-top: 50px;
  }
} */
/* 
@media (max-width: 1000px) {
  .pageTitle {
    font-size: 6.4vw;
  }
} */
